.container {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/fondo.png');
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: center;
    justify-items: center;
}

.init {
    min-width: 300px;
    width: 40%;
    padding: 20px 5px;
    background-color: rgb(133, 119, 119, 0.8);
    border-radius: 12px;
    display: grid;
    justify-items: center;
}
.h2r{
    color:rgb(235, 213, 23);
    margin: 0 30px;
    text-align: center;
    user-select: none;
}
.h2r h2{
    font-size: 3.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}