.container {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/fondo.png');
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: center;
    justify-items: center;
}

.init {
    min-width: 300px;
    width: 40%;
    padding: 20px 5px;
    background-color: rgb(133, 119, 119, 0.8);
    border-radius: 12px;
    display: grid;
    justify-content: center;
}